@use 'sass:color';

$accent: rgba(60, 81, 255, 1);

.checkboxContainer {
  @media screen and (max-width: 450px) {
    width: 100%;
  }

  .checkbox {
    $size: 20px;
    cursor: pointer;
    display: block;
    position: relative;
    padding-left: $size + 15px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      height: $size;
      width: $size;
      border-radius: 5px;
      cursor: pointer;
      background-color: #fff;
      border: 1px solid rgba(59, 65, 105, 0.12);
      $animationDuration: 100ms;
      transition: background-color #{$animationDuration} ease-in-out, border-color #{$animationDuration} ease-in-out;
      margin-top: 4px;
    }

    &:hover span {
      background-color: color.scale(#fff, $lightness: -5%);
    }

    input[checked] ~ span {
      background-color: color.scale($accent, $alpha: -85%);
      border-color: transparent;
    }

    span:after {
      content: "";
      position: absolute;
      display: none;
    }

    input[checked] ~ span:after {
      display: block;
    }

    span:after {
      left: 6px;
      top: 3px;
      width: 5px;
      height: 7px;
      border: 1px solid $accent;
      border-width: 0 1px 1px 0;
      transform: rotate(45deg);
    }

    label {
      font-family: 'Golos Text';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.02em;
      color: rgba(46, 55, 85, 0.35);
      // width: 398px;
      display: block;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        width: 100%;
        font-size: 12px;
        line-height: 18px;
      }

      div.errorLabel {
        color: red;
      }
    }
  }

  .error {
    margin-top: 10px;
  }
}
