.button {
  border: 0;
  border-radius: 100px;
  align-self: center;
  padding: 21.5px 40px;
  text-transform: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;

  --accent: rgba(60, 81, 255, 1);

  &.contained {
    background: var(--accent);
  }
}